.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}


.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}


.is-done {
  opacity: 0.5;
}
